<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form>
                            <div class="mb-2">
                                <input (keyup)="applyFilter($event)" type="text" class="form-control"  id="prenametext" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8  d-flex justify-content-end">
                        <div ngbDropdown class="d-inline-block mb-2 mr-2">
                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                All
                            </button>
                            <div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button value="" class="dropdown-item" (click)="filterSelected(null)">All</button>
                                <button value="true" class="dropdown-item" (click)="filterSelected(true)">Active</button>
                                <button value="false" class="dropdown-item"(click)="filterSelected(false)">Inactive</button>
                            </div>
                        </div>
                        <button class="btn btn-primary mb-2 mr-2" (click)="exportToCsv()"><i class="sl-icon-cloud-download"></i> Export
                            CSV</button>
                        <!-- <button class="btn btn-seconadary mb-2" (click)="addUserModal(addUser)"><i class="sl-icon-plus"></i> Add
              User</button> -->
                    </div>
                </div>
                <div class="table-responsive">
                    <table mat-table class=" w-100" [dataSource]="dataSource" matSort>

                        <!-- ID Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.firstName +" "+ row.lastName ||"--"}}</td>
                        </ng-container>

                        <!-- Progress Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>User ID </th>
                            <td mat-cell *matCellDef="let row"> {{row.userName||"--"}} </td>
                        </ng-container>
                        <!-- Progress Column -->
                        <ng-container matColumnDef="contact">
                            <th mat-header-cell *matHeaderCellDef class="text-nowrap">Phone Number </th>
                            <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.dialCode+" "+row.phoneNo}} </td>
                        </ng-container>
                        <!-- Progress Column -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>Email </th>
                            <td mat-cell *matCellDef="let row"> {{row.email ||"--"}} </td>
                        </ng-container>
                        <!-- Address -->
                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef>Address </th>
                            <td mat-cell *matCellDef="let row"> {{row.address ||"--"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Status </th>
                            <td mat-cell *matCellDef="let row" class="text-nowrap">
                                <mat-slide-toggle [checked]="row.isActive===true?'true':'false'" (change)="onChangeBlockStatus(row.isActive,row._id,row.phoneNo)">
                                </mat-slide-toggle>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Action </th>
                            <td mat-cell *matCellDef="let row" class="text-nowrap">
                                <div ngbDropdown placement="bottom" class="d-inline-block" container="body">
                                    <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1"
                                        ngbDropdownToggle>
                                        Action
                                    </button>
                                    <div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <a class="dropdown-item" routerLink="/pages/users_detail"[queryParams]="{ id: row._id}"><i class="ti-eye"></i>
                                            View
                                        </a>
                                        <button class="dropdown-item" (click)="userDetailModal(userDetail,row)"><i 
                                            class="ti-marker-alt"></i> Edit</button>
                                        <button class="dropdown-item" (click)="userDeleteModal(userDelete,row._id)"><i
                                                class="ti-trash"></i>
                                            Delete</button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <p *ngIf="!totalsize">Data not found!</p>
                </div>
                <mat-paginator  #paginator
                [length]="totalsize"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageEvent = productListAfterPageSizeChanged($event)"></mat-paginator>
            </div>
        </div>
        <!-- Column -->
    </div>
    <ng-template #content3 let-modal>
        <div class="modal-header p-2">
            <h4 class="modal-title">Driving Licence</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <figure class=""><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid"></figure>
                </div>
                <div class="col-md-6">
                    <figure class=""><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid"></figure>
                </div>
            </div>
        </div>
    </ng-template>


    <!-- delete modal -->
    <ng-template #userDelete let-modal>
        <div class="modal-body">
            <p>Are you want to delete this user?</p>
            <div class="btn-group">
                <button type="button" class="btn btn-primary mr-2" aria-label="Close"
                    (click)="deleteUser()">Yes</button>
                <button type="button" class="btn btn-seconadary" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">No</button>
            </div>
        </div>
    </ng-template>

    <!-- edit user detail -->
   
    <ng-template #userDetail let-modal>
        <div class="modal-body">
            <div class="card">
                <form [formGroup]="UpdateUser">
                    <div class="form-body">
                        <div class="card-body">
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">First name</label>
                                        <input type="text" (keydown.space)="$event.preventDefault()" formControlName="firstName" id="firstName" class="form-control" placeholder="John">
                                        <mat-error *ngIf="UpdateUser.get('firstName').hasError('required') && submitted">
                                            *First name is required.
                                        </mat-error>
                                        <mat-error *ngIf=" UpdateUser.get('firstName').hasError('pattern')">
                                      *first name should alphabate only.
                                  </mat-error>
                                  <mat-error  *ngIf="UpdateUser.get('firstName').hasError('maxlength')">
                                *Maximum 15 character allowed.
                            </mat-error>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Last name</label>
                                        <input type="text" (keydown.space)="$event.preventDefault()" formControlName="lastName" formControlName="lastName" id="lastName" class="form-control" placeholder="doe">
                                        <mat-error *ngIf="UpdateUser.get('lastName').hasError('required') && submitted">
                                            *Last name is required.
                                        </mat-error>
                                        <mat-error *ngIf=" UpdateUser.get('lastName').hasError('pattern')">
                                            *first name should alphabate only.
                                        </mat-error>
                                        <mat-error  *ngIf=" UpdateUser.get('lastName').hasError('maxlength')">
                                      *Maximum 15 character allowed.
                                  </mat-error>
                                    </div>
                                </div>
                                <!--/span-->
                                <!-- <div class="col-md-6">
                                    <div class="form-group has-success">
                                        <div class="form-group">
                                            <label class="control-label">Upload User Profile</label>
                                            <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label class="custom-file-label" for="inputGroupFile01">{{file}}</label></div>
                                        </div>
                                    </div>
                                </div> -->
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Phone number</label>
                                        <input type="number" readonly formControlName="phoneNo" class="form-control" placeholder="eg:- 9939940419">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input readonly type="email" formControlName="email"  class="form-control" placeholder="example@gmail.com">
                                    </div>
                                </div>
                                <!--/span-->
                                <!-- <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">User ID</label>
                                        <input type="text" id="email" class="form-control form-control-danger" placeholder="#46543343">
                                    </div>
                                </div> -->
                                <!--/span-->
                                <!-- <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Cancelled  Orders</label>
                                        <input type="text" id="email" class="form-control form-control-danger" placeholder="00">
                                    </div>
                                </div> -->
                                <!--/span-->
                                <!-- <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Completed Orders</label>
                                        <input type="text" id="email" class="form-control form-control-danger" placeholder="40">
                                    </div>
                                </div> -->
                                <!--/span-->
                                <!-- <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">City</label>
                                        <input type="text" id="city" class="form-control form-control-danger" placeholder="Berlin">
                                    </div>
                                </div> -->
                                <!--/span-->
                                <!-- <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Pincode</label>
                                        <input type="text" id="email" class="form-control form-control-danger" placeholder="Pincode">
                                    </div>
                                </div> -->
                                <!--/span-->
                                <div class="col-md-12">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Address</label>
                                        <textarea formControlName="address" cols="30" rows="5" class="form-control" placeholder="#433 New garden Complex"></textarea>
                                        <mat-error *ngIf="UpdateUser.get('address').hasError('required') && submitted">
                                            *Address is required.
                                        </mat-error>
                                        <mat-error  *ngIf="UpdateUser.get('address').hasError('pattern')">
                                           white space not allowed.
                                        </mat-error>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                        </div>
                        <div class="form-actions">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary mr-3" (click)="UpdateUserData()">
                                  <i class="fa fa-check"></i> Update</button>
                                <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </ng-template>

    <!-- add user -->
    <ng-template #addUser let-modal>
        <div class="modal-body">
            <div class="card">
                <form action="#">
                    <div class="form-body">
                        <div class="card-body">
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">User Name</label>
                                        <input type="text" id="firstName" class="form-control" placeholder="John doe">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-success">
                                        <div class="form-group">
                                            <label class="control-label">Upload User Profile</label>
                                            <div class="custom-file"><input class="custom-file-input"
                                                    id="inputGroupFile01" type="file"><label class="custom-file-label"
                                                    for="inputGroupFile01">Choose file</label></div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Contact No</label>
                                        <input type="text" id="firstName" class="form-control" placeholder="John doe">

                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Email</label>
                                        <input type="email" id="email" class="form-control form-control-danger"
                                            placeholder="example@gmail.com">

                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Address</label>
                                        <input type="text" id="Address" class="form-control form-control-danger"
                                            placeholder="Address">

                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Gender</label>
                                        <select class="form-control custom-select" data-placeholder="Choose a Category"
                                            tabindex="1">
                                            <option value="Category 1">Male</option>
                                            <option value="Category 2">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Bike Name</label>
                                        <input type="text" id="bike_name" name="bike_name" class="form-control"
                                            placeholder="Bike name">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Bike No</label>
                                        <input type="text" id="bike_no" name="bike_no" class="form-control"
                                            placeholder="Bike No">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">User Status</label>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Active</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">Inactive</label>
                                        </div>
                                    </div>

                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                        </div>

                        <div class="form-actions">
                            <div class="card-body">
                                <button type="submit" class="btn btn-success mr-3"
                                    (click)="modal.dismiss('Cross click')">
                                    <i class="fa fa-check"></i> Add</button>
                                <button type="button" class="btn btn-dark"
                                    (click)="modal.dismiss('Cross click')">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </ng-template>