<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;background-size: cover;">
    <div class="auth-box on-sidebar">
        <div id="loginform" [ngClass]="{'d-none': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-text.png" alt="logo"  /></span>
                <!-- <h5 class="font-medium m-b-20">Sign In to Admin</h5> -->
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="loginForm"class="form-horizontal m-t-20" id="loginform" >
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" formControlName="email" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" required>
                            <mat-error class="text-danger font-weight-bold bg-white px-1 w-100" *ngIf="loginForm.get('email').hasError('required') && loginForm.controls['email'].touched">
                                *Email is <strong>required</strong>
                            </mat-error>
                            <mat-error class="text-danger font-weight-bold bg-white px-1 w-100" *ngIf="loginForm.get('email').hasError('email') &&
                                  !loginForm.get('email').hasError('required')">
                            *Email is <strong>not valid</strong>
                        </mat-error>
                        </div>
                         
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
                            <mat-error class="text-danger font-weight-bold bg-white px-1 w-100"  *ngIf="loginForm.get('password').hasError('required') && loginForm.controls['password'].touched">
                                *Password is <strong>required</strong>
                            </mat-error>
                            <mat-error class="text-danger font-weight-bold bg-white px-1 w-100"  *ngIf=" loginForm.get('password').hasError('minlength') &&
                                  !loginForm.get('password').hasError('required')">
                                *Minimum 8 Character
                            </mat-error>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" (change)="rememberFunc($event)" formControlName="rememberMe" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label text-white" for="customCheck1">Remember me</label>
                                    <a (click)="showRecoverForm()" href="javascript:void(0)" id="to-recover" class="text-white float-right"><i class="fa fa-lock m-r-5"></i> Forgot password</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                    <button  class="btn btn-block btn-lg bg-white text-primary" (click)="  onLogin();" type="submit">Log In</button>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                <div class="social">
                                    <a href="javascript:void(0)" class="btn  btn-facebook m-r-5" data-toggle="tooltip" title="" data-original-title="Login with Facebook"> <i aria-hidden="true" class="fab  fa-facebook"></i> </a>
                                    <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="" data-original-title="Login with Google"> <i aria-hidden="true" class="fab  fa-google-plus"></i> </a>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="form-group m-b-0 m-t-10">
                            <div class="col-sm-12 text-center">
                                Don't have an account? <a href="#/authentication/signup2" class="text-info m-l-5"><b>Sign Up</b></a>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
        <div id="recoverform" [ngClass]="{'d-block': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-text.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Recover Password</h5>
                <span>Enter your Email and instructions will be sent to you!</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12" action="index.html">
                    <!-- email -->
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" [formControl]="email2" type="email" required="" placeholder="Email">
                            <mat-error class="text-danger font-weight-bold bg-white px-1 d-block"  *ngIf="email2.hasError('required') && email2.touched">
                                *Email is <strong>required</strong>
                            </mat-error>
                            <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="email2.hasError('email') &&
                            !email2.hasError('required')">
                            *Email is <strong>not valid</strong>
                        </mat-error>
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg bg-white text-primary" (click)="forget()" type="submit" name="action">Reset</button>
                        </div>
                        <div class="col-12 text-center pt-2">
                            <a (click)="showRecoverForm()" href="" id="to-recover" class="btn btn-block btn-lg bg-white text-primary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>