<div class="row">  
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <select name="" id="" class="form-control">
                        <option value="">Vendors</option>
                        <option value="">Driver</option>
                        <option value="">Users</option>
                    </select>
                </div>      
                <quill-editor [style]="{height: '300px',display: 'inline-block'}"></quill-editor>
                <button class="btn btn-primary mt-3">Save</button>
            </div>
        </div>

    </div>
</div>