<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <form [formGroup]="aboutForm">
              <div>
              <quill-editor formControlName="data" [style]="{height: '300px',display: 'inline-block'}"></quill-editor>
              <mat-error
                    *ngIf="aboutForm.controls['data'].touched && aboutForm.controls['data'].invalid"
                    class="text-danger d-inline-block pt-1">
                    *Please enter Terms & Conditions
                  </mat-error>
              <p class="text-danger" *ngIf="submitted && errorHandling('data', 'required')">
                *Terms & Conditions are required!
              </p>
            </div>
              <button  [disabled]="!aboutForm.valid" (click)="update()" class="btn btn-primary mt-3">Save</button>
            </form>
          </div>
      </div>

  </div>
</div>
