<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;background-size: 100%;background-position: center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img alt="thumbnail" class="" width="100" src="assets/images/logo-text.png"></span>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="changepassForm" class="form-horizontal m-t-20" >
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control form-control-lg" formControlName="oldPassword" type="password" required="" placeholder="Old Password">
                                <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="changepassForm.get('oldPassword').hasError('required') && changepassForm.controls['oldPassword'].touched">
                                    *Old Password is required.
                                </mat-error>
                                <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="changepassForm.get('oldPassword').hasError('minlength') &&
                                    !changepassForm.get('oldPassword').hasError('required')">
                                     *Min 8 characters.
                                </mat-error>
                                <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="changepassForm.get('oldPassword').hasError('maxlength') &&
                                    !changepassForm.get('oldPassword').hasError('required')">
                                    *Maximum 16 characters long.
                                </mat-error>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control form-control-lg" formControlName="newPassword" type="password" required="" placeholder="New Password">
                                <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="changepassForm.get('newPassword').hasError('required') && changepassForm.controls['newPassword'].touched">
                                    *New Password is required.
                                </mat-error>
                                <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="changepassForm.get('newPassword').hasError('minlength') &&
                                    !changepassForm.get('newPassword').hasError('required')">
                                     *Min 8 characters.
                                </mat-error>
                                <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="changepassForm.get('newPassword').hasError('maxlength') &&
                                    !changepassForm.get('newPassword').hasError('required')">
                                    *Maximum 16 characters long.
                                </mat-error>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control form-control-lg" type="password" formControlName="retypepassword" required="" placeholder="Retype Password">
                                <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="changepassForm.get('retypepassword').hasError('required') && changepassForm.controls['retypepassword'].touched">
                                    *Retype Password is required.
                                </mat-error>
                                <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="changepassForm.get('retypepassword').hasError('minlength') &&
                                    !changepassForm.get('retypepassword').hasError('required')">
                                     *Min 8 characters.
                                </mat-error>
                                <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="changepassForm.get('retypepassword').hasError('maxlength') &&
                                    !changepassForm.get('retypepassword').hasError('required')">
                                    *Maximum 16 characters long.
                                </mat-error>
                                <mat-error class="text-danger font-weight-bold bg-white px-1 d-block" *ngIf="changepassForm.get('retypepassword').hasError('passwordMismatch') &&
                                    !changepassForm.get('retypepassword').hasError('required')">
                                    *Password don't match
                                </mat-error>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg bg-white text-primary"[disabled]="!changepassForm.valid" (click)="changepass()" type="submit">Submit</button>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a  (click)="BackToDashboard()" class="btn btn-block btn-lg bg-white text-primary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>