<div class="row">
  <!-- Column -->


  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <form>
              <div class="mb-2">
                <input type="text" class="form-control" id="prenametext" placeholder="Search">
              </div>
            </form>
          </div>
          <div class="col-md-8 d-flex  justify-content-end">
            <div ngbDropdown class="d-inline-block mb-2 mr-2">
              <button class="btn btn-info text-white" id="dropdownBasic1" ngbDropdownToggle>
                All
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">All</button>
                <button class="dropdown-item">Active</button>
                <button class="dropdown-item">Inactive</button>
              </div>
            </div>
            <!-- <div ngbDropdown class="d-inline-block mb-2 mr-2">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                  Daily
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">Daily</button>
                  <button class="dropdown-item">Weekly</button>
                  <button class="dropdown-item">Monthly</button>
                  <button class="dropdown-item">Yearly</button>
                </div>
              </div> -->
            <button class="btn btn-primary mb-2 mr-2"><i class="sl-icon-cloud-download"></i> Export CSV</button>
            <button class="btn btn-seconadary mb-2" (click)="addUserModal(addUser)"><i class="sl-icon-plus"></i> Add
              Driver</button>
          </div>

          <div class="table-responsive">
            <table mat-table class=" w-100" [dataSource]="dataSource" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Driver ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>
              <!-- Progress Column -->
              <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Phone Number </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.contact}} </td>
              </ng-container>
              <!-- Progress Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>
              <!-- Address -->
              <ng-container matColumnDef="drivertype">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Delivery Type </th>
                <td mat-cell *matCellDef="let row"> {{row.drivertype}} </td>
              </ng-container>
              <ng-container matColumnDef="document">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Documents </th>
                <td mat-cell *matCellDef="let row"> <a (click)="documentModal(document)" href="javascript:void()"> <img [src]="row.document" alt=" " width="60px"> </a> </td>
              </ng-container>
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Address </th>
                <td mat-cell *matCellDef="let row"> {{row.address}} </td>
              </ng-container>
              <!-- pendingOrder -->
              <ng-container matColumnDef="pendingOrders">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Pending Orders </th>
                <td mat-cell *matCellDef="let row"> {{row.pendingOrders}} </td>
              </ng-container>
              <!-- total Orders -->
              <ng-container matColumnDef="totalOrders">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Total Orders </th>
                <td mat-cell *matCellDef="let row"> {{row.totalOrders}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="cancelledOrders">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Cancelled Orders </th>
                <td mat-cell *matCellDef="let row"> {{row.cancelledOrders}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="completedOrders">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Completed Order </th>
                <td mat-cell *matCellDef="let row"> {{row.completedOrders}} </td>
              </ng-container>
              <!-- Color Column -->
              <ng-container matColumnDef="totalSales">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Total Sales </th>
                <td mat-cell *matCellDef="let row">$ {{row.totalSales}} </td>
              </ng-container>
              <!-- Color Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Status </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.status}} <mat-slide-toggle>
                  </mat-slide-toggle>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Action </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap">
                  <div ngbDropdown placement="bottom" class="d-inline-block" container="body">
                    <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                      Action
                    </button>

                    <div *ngIf="row.action==0" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <a href="javascript:void()" class="dropdown-item" (click)="vendorConfirmModal(vendorConfirm)"><i
                          class=" sl-icon-check"></i>
                        Accept
                      </a>
                      <!-- <button class="dropdown-item" (click)="userDetailModal(userDetail)"><i _ngcontent-axh-c146=""
                            class="ti-marker-alt"></i> Edit</button> -->

                      <a href="javascript:void()" class="dropdown-item"
                        (click)="vendorUnconfirmModal(vendorUnconfirm)"><i class="sl-icon-close"></i>
                        Reject</a>
                    </div>

                    <div *ngIf="row.action==1" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <a class="dropdown-item" routerLink="/pages/driversdetail"><i class="ti-eye"></i>
                        View
                      </a>
                      <button class="dropdown-item" (click)="addUserModal(addUser)"><i _ngcontent-axh-c146=""
                          class="ti-marker-alt"></i> Edit</button>

                      <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                        Delete</button>
                    </div>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          </div>
          <div class="col-md-12 text-right"><mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator></div> 
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>

  <ng-template #content3 let-modal>
    <div class="modal-header p-2">
      <h4 class="modal-title">Driving Licence</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <figure class=""><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid"></figure>
        </div>
        <div class="col-md-6">
          <figure class=""><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid"></figure>
        </div>
      </div>
    </div>
  </ng-template>


  <!-- view modal -->
  <ng-template #userprofile let-modal>
    <div class="modal-body">
      <button type="button" class=" close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="mdi mdi-close"></i>
      </button>
      <div class="row">
        <!-- Column -->
        <div class="col-lg-3 col-xlg-3 col-md-5">
          <div class="card">
            <div class="card-body">
              <div class="m-t-30 text-center">
                <img src="assets/images/users/2.jpg" class="rounded-circle" width="120" />
                <h4 class="card-title m-t-10">Ronny</h4>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-9 col-xlg-9 col-md-7">
          <div class="card custom-tabs mb-0">
            <div class="card-body">
              <!-- <div class="col-md-12 text-right"><button class="btn btn-primary">Export CSV</button></div> -->
              <ngb-tabset>
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Vendor Detail</b></ng-template>
                  <ng-template ngbTabContent>
                    <div class="row pt-2">
                      <div class="col-md-6">
                        <ul class="list-block">
                          <li class="list-block-listing">Name: <span class="font-weight-600">Ronny</span></li>
                          <li class="list-block-listing">Email: <span class="font-weight-600">ronny@gmail.com</span>
                          </li>
                          <li class="list-block-listing">Gender: <span class="font-weight-600">Female</span>
                          </li>
                          <li class="list-block-listing">Phone No: <span class="font-weight-600">+91-7858485474</span>
                          </li>
                          <li class="list-block-listing "> <span>Address: </span> <span class="font-weight-600">3750
                              Grove Avenue, Clinton</span>
                          </li>


                        </ul>
                      </div>
                      <div class="col-md-6">
                        <ul class="list-block">

                          <li class="list-block-listing">Total Stock: <span class="font-weight-600">50</span></li>
                          <li class="list-block-listing">Availble Stock: <span>10 </span></li>
                          <li class="list-block-listing">Booked Stock: <span>10</span></li>
                          <li class="list-block-listing">Total Revenue: <span class="font-weight-600">$ 410</span></li>
                          <li class="list-block-listing">User Request: <span class="font-weight-600">8:40 AM</span></li>
                          <li class="list-block-listing">Delivery Time: <span class="font-weight-600">9:00 AM</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>

                <!-- <ngb-tab>
                    <ng-template ngbTabTitle><b>User History</b></ng-template>
                    <ng-template ngbTabContent>
                      <ul class="user_history pl-0">
                        <li class="user_history_list"><span class="user_history_list_icon active"><i
                              class="mdi mdi-map-marker"></i></span> <span>Location 1</span> </li>
                        <li class="user_history_list"><span class="user_history_list_icon active"><i
                              class="mdi mdi-map-marker"></i></span> <span>Location 2</span> </li>
                        <li class="user_history_list skip"><span class="user_history_list_icon active"><i
                              class="mdi mdi-map-marker"></i></span>Location 3
                        </li>
                        <li class="user_history_list"><span class="user_history_list_icon"><i
                              class="mdi mdi-map-marker"></i></span> <span>Location 4</span> </li>
                        <li class="user_history_list"><span class="user_history_list_icon"><i
                              class="mdi mdi-map-marker"></i></span> <span>Location 5</span> </li>
                      </ul>
                    </ng-template>
                  </ngb-tab> -->
              </ngb-tabset>
            </div>
          </div>
        </div>
        <!-- Column -->
      </div>
    </div>
  </ng-template>

  <!-- delete modal -->
  <ng-template #userDelete let-modal>
    <div class="modal-body">
      <p>Are You Sure want to delete?</p>
      <div class="btn-group">
        <button type="button" class="btn btn-primary mr-2" aria-label="Close"
          (click)="modal.dismiss('Cross click')">Yes</button>
        <button type="button" class="btn btn-seconadary" aria-label="Close"
          (click)="modal.dismiss('Cross click')">No</button>
      </div>
    </div>
  </ng-template>

  <!-- edit user detail -->
  <ng-template #userDetail let-modal>
    <div class="modal-body">
      <div class="card">
        <form action="#">
          <div class="form-body">
            <div class="card-body">
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Name</label>
                    <input type="text" id="firstName" class="form-control" placeholder="John doe">

                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-success">
                    <div class="form-group">
                      <label class="control-label">Upload Driver Profile</label>
                      <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                          class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                    </div>
                  </div>
                </div>
                <!--/span-->
              </div>
              <!--/row-->
              <div class="row ">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Phone Number</label>
                    <input type="number" id="firstName" class="form-control" placeholder="343-434-5423">

                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Email</label>
                    <input type="email" id="email" class="form-control form-control-danger"
                      placeholder="example@gmail.com">

                  </div>
                </div>
                <!--/span-->
              </div>
              <!--/row-->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Address</label>
                    <input type="text" id="Address" class="form-control form-control-danger" placeholder="Address">

                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Gender</label>
                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                      <option value="Category 1">Male</option>
                      <option value="Category 2">Female</option>
                    </select>
                  </div>
                </div>
                <!--/span-->
              </div>
              <!--/row-->
            </div>

            <div class="form-actions">
              <div class="card-body">
                <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                  <i class="fa fa-check"></i> Update</button>
                <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </ng-template>

  <!-- add user -->
  <ng-template #addUser let-modal>
    <div class="modal-body">
      <div class="card">
        <form action="#">
          <div class="form-body">
            <div class="card-body">
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Driver Name</label>
                    <input type="text" id="firstName" class="form-control" placeholder="John doe">

                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-success">
                    <div class="form-group">
                      <label class="control-label">Upload Driver Profile</label>
                      <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                          class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                    </div>
                  </div>
                </div>
                <!--/span-->
              </div>
              <!--/row-->
              <div class="row ">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Contact No</label>
                    <input type="text" id="firstName" class="form-control" placeholder="John doe">

                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Email</label>
                    <input type="email" id="email" class="form-control form-control-danger"
                      placeholder="example@gmail.com">

                  </div>
                </div>
                 <!--/span-->
                 <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Driver ID</label>
                    <input type="text" id="driver_id" class="form-control form-control-danger"
                      placeholder="#33434">

                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Vehicle Type</label>
                    <select class="form-control">
                      <option value="">Bike</option>
                      <option value="">Scooter</option>
                      <option value="">E-bike</option>
                    </select>
                  </div>
                </div>
                <!--/span-->
               
              </div>
              <!--/row-->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Upload Identity card</label>
                    <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                        class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Delivery Type</label>
                    <select class="form-control">
                      <option value="">Grocery Delivery</option>
                      <option value="">Food Truck</option>
                    </select>
                  </div>
                </div>
                <!--/span-->
               
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Start Time</label>
                    <input type="time" placeholder="" value="" class="form-control">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">End Time</label>
                    <input type="time" placeholder="" value="" class="form-control">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Commission</label>
                    <input type="number" placeholder="Add Commission" value="" class="form-control">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Pincode</label>
                    <input type="text" id="email" class="form-control form-control-danger" placeholder="Pincode">
                  </div>
                </div>
                <!--/span-->
                <!-- <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">City</label>
                    <input type="text" id="city" class="form-control form-control-danger" placeholder="City">
                  </div>
                </div> -->
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Select Zone</label>
                   <select name="" id="" class="form-control">
                     <option value="1">Canada</option>
                     <option value="2">United State</option>
                     <option value="3">Brazil</option>
                     <option value="4">Belgium</option>
                     <option value="5">Jordan</option>
                   </select>
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Select Geofence</label>
                   <select name="" id="" class="form-control">
                     <option value="1">Location 1</option>
                     <option value="2">Location 2</option>
                     <option value="3">Location 3</option>
                     <option value="4">Location 4</option>
                     <option value="5">Location 5</option>
                   </select>
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Address</label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control"
                      placeholder="#433 New garden Complex"></textarea>
                  </div>
                </div>
              </div>
              <!--/row-->

              <!--/row-->
            </div>

            <div class="form-actions">
              <div class="card-body">
                <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                  <i class="fa fa-check"></i> Add</button>
                <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </ng-template>

  <ng-template #vendorConfirm let-modal>
    <div class="modal-body">
      <h3>Driver Income</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group has-danger">
            <label class="control-label">Income Type</label>
            <select name="" id="" class="form-control">
              <option value="">Salaried</option>
              <option value="">Salaried + Commission</option>
            </select>

          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Amount</label>
            <input type="text" id="Address" class="form-control form-control-danger" placeholder="Add Salary">
          </div>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Commission</label>
            <input type="text" id="Address" class="form-control form-control-danger" placeholder="Add Commission">
          </div>
        </div>
        <!--/span-->
        <div class="col-md-12"><button class="btn btn-primary" (click)="modal.close()">Save</button></div>
      </div>
      <!--/row-->
    </div>
  </ng-template>
  <ng-template #edituser let-modal>
    <div class="modal-body">
      <div class="card">
        <form action="#">
          <div class="form-body">
            <div class="card-body">
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Driver Name</label>
                    <input type="text" id="firstName" class="form-control" placeholder="John doe">

                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-success">
                    <div class="form-group">
                      <label class="control-label">Upload Driver Profile</label>
                      <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"
                          disabled><label class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                    </div>
                  </div>
                </div>
                <!--/span-->
              </div>
              <!--/row-->
              <div class="row ">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Phone Number</label>
                    <input type="number" id="firstName" class="form-control" placeholder="343-434-5423">

                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" id="firstName" class="form-control" placeholder="example@gmail.com">

                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Driver ID</label>
                    <input type="text" id="email" class="form-control form-control-danger" placeholder="#46543343">
                  </div>
                </div>
                <!--/span-->  
                             
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Vehicle Type</label>
                    <select class="form-control">
                      <option value="">Bike</option>
                      <option value="">Scooter</option>
                      <option value="">E-bike</option>
                    </select>
                  </div>
                </div>
                <!--/span-->  
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Upload Identity card</label>
                    <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                        class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                  </div>
                </div>
                <!--/span-->             
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Total Orders</label>
                    <input type="text" id="email" class="form-control form-control-danger" placeholder="40">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Commission</label>
                    <input type="number" id="email" class="form-control form-control-danger" placeholder="Edit Commission">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Cancelled Orders</label>
                    <input type="text" id="email" class="form-control form-control-danger" placeholder="00">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Completed Orders</label>
                    <input type="text" id="email" class="form-control form-control-danger" placeholder="40">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">City</label>
                    <input type="text" id="city" class="form-control form-control-danger" placeholder="Berlin">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Pincode</label>
                    <input type="text" id="email" class="form-control form-control-danger" placeholder="Pincode">
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Select Zone</label>
                   <select name="" id="" class="form-control">
                     <option value="1">Canada</option>
                     <option value="2">United State</option>
                     <option value="3">Brazil</option>
                     <option value="4">Belgium</option>
                     <option value="5">Jordan</option>
                   </select>
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <label class="control-label">Select Zeofence</label>
                   <select name="" id="" class="form-control">
                     <option value="1">Location 1</option>
                     <option value="2">Location 2</option>
                     <option value="3">Location 3</option>
                     <option value="4">Location 4</option>
                     <option value="5">Location 5</option>
                   </select>
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-12">
                  <div class="form-group has-danger">
                    <label class="control-label">Address</label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control"
                      placeholder="#433 New garden Complex"></textarea>
                  </div>
                </div>
                <!--/span-->
              </div>
              <!--/row-->
            </div>

            <div class="form-actions">
              <div class="card-body">
                <button type="submit" class="btn btn-primary mr-3" (click)="modal.dismiss('Cross click')">
                  <i class="fa fa-check"></i> Update</button>
                <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </ng-template>
  <ng-template #vendorUnconfirm let-modal>
    <div class="modal-body">
      <label>Add Note</label>
      <div class=" mb-3">
        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
        <div class="input-group-append">
          <button class="btn mr-0 btn-primary mt-2" type="button" (click)="modal.close()">Submit</button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #document let-modal>
    <div class="modal-body">
      <button type="button" class=" close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="mdi mdi-close"></i></button>
      <div class="row">
        <div class="col-md-12 p-1"><img src="assets/images/gallery/driving-licence.jpg" alt="" class="img-fluid"></div>
        <div class="col-md-12 p-1"><img src="assets/images/gallery/driving-licence.jpg" alt="" class="img-fluid"></div>
      </div>
    </div>
</ng-template>