<!-- .row -->
<div class="row">
    <div class="col-sm-12">
        <div class="card card-body">           
            <form class="form-horizontal m-t-30">               
                <div class="form-group">
                    <label for="example-email">Email</label>
                    <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email">
                </div>   
                <div class="form-group">
                    <label for="example-email">Contact</label>
                    <input type="text" id="contact" name="example-email" class="form-control" placeholder="Contact No">
                </div>   
                <div class="form-group">
                    <label>Address</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
<!-- /.row -->