<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Edit Geofence Name">
                    </div>
                </form>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles" #map2></agm-map>
            </div>
        </div>
    </div>
</div>