<div class="card">
    <div class="card-body">
        <form action="">
      <div class="row">
        <div class="col-md-6">
            <div class="form-group"><label class="control-label">Price Per 30 Min</label><input type="text" id="PricePer" placeholder="PricePer" class="form-control"></div>
        </div>
        <div class="col-md-6">
            <div class="form-group"><label class="control-label">Base Fare</label><input type="text" id="BaseFare" placeholder="Base Fare" class="form-control"></div>
        </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label class="control-label">Minimum Charges</label><input type="text" id="MinimumCharges" placeholder="Minimum Charges" class="form-control"></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label class="control-label">Tax</label><input type="text" id="MinimumCharges" placeholder="Minimum Charges" class="form-control"></div>
          </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                 <button class="btn btn-primary">Save</button>
                </div>
                
                  </div>
        </form>
    </div>
</div>