<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <form [formGroup]="privacyForm">
              <div>
              <quill-editor formControlName="data" [style]="{height: '300px',display: 'inline-block'}"></quill-editor>
              <p class="text-danger" *ngIf="submitted && errorHandling('data', 'required')">
                *Privacy Policy is required!
              </p>
            </div>
              <button  [disabled]="!privacyForm.valid" (click)="update()" class="btn btn-primary mt-3">Save</button>
            </form>
          </div>
      </div>

  </div>
</div>
