<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="mb-2">
            <input type="text" class="form-control" id="prenametext" placeholder="Search">
          </div>
        </form>
      </div>
      <div class="col-md-8 d-flex  justify-content-end">
        <!-- <div ngbDropdown class="d-inline-block mb-2 mr-2">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                  All
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">All</button>
                  <button class="dropdown-item">Active</button>
                  <button class="dropdown-item">Inactive</button>
                </div>
              </div> -->
        <!-- <div ngbDropdown class="d-inline-block mb-2 mr-2">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                  Daily
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">Daily</button>
                  <button class="dropdown-item">Weekly</button>
                  <button class="dropdown-item">Monthly</button>
                  <button class="dropdown-item">Yearly</button>
                </div>
              </div> -->
        <button class="btn btn-outline-primary mb-2 mr-2"><i class="sl-icon-cloud-download"></i> Export CSV</button>
        <a href="javascript:void()" (click)="addTruckModal(addtruck)" class="btn btn-primary mb-2"><i
            class="sl-icon-plus"></i> Add
          Truck</a>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Truck Type</th>
          <th>Truck Id</th>
          <th>Truck Color</th>
          <th>Vehicle No.</th>
          <th>Document</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>Food Truck</td>
          <td>#45454</td>
          <td>Brown</td>
          <td>HR-04-V-4343</td>
          <td><a href="javascript:void()" (click)="truckdocumentModal(truckdocuments)"><img alt=" " width="60px"
                src="assets/images/gallery/driving-licence.jpg"></a></td>
          <td>

            <div ngbDropdown container="body">
              <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
              <div ngbDropdownMenu>
                <!-- <a routerLink="/pages/trucklocation" ngbDropdownItem>View</a> -->
                <button ngbDropdownItem (click)="editTruckModal(edittruck)">Edit</button>
                <button ngbDropdownItem (click)="userDeleteModal(userDelete)">Delete</button>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- delete modal -->
<ng-template #userDelete let-modal>
  <div class="modal-body">
    <p>Are You Sure want to delete?</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary mr-2" aria-label="Close"
        (click)="modal.dismiss('Cross click')">Yes</button>
      <button type="button" class="btn btn-seconadary" aria-label="Close"
        (click)="modal.dismiss('Cross click')">No</button>
    </div>
  </div>
</ng-template>
<!-- delete modal -->
<ng-template #addtruck let-modal>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Truck Type</label>
          <select class="form-control">
            <option value="">Food Truck</option>
            <option value="">Gaming Truck</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-con">
          <label for="">Truck ID</label>
          <input type="text" class="form-control" value="" placeholder="#54554">
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Truck Color</label>
          <input type="text" class="form-control" value="" placeholder="Brown">
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Vehicle No</label>
          <input type="text" class="form-control" value="" placeholder="Eg:HR-06-V-4343">
        </div>

      </div>
      <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Upload Document</label>
            <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
        </div>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary mr-2" aria-label="Close"
        (click)="modal.dismiss('Cross click')">Add</button>
      <button type="button" class="btn btn-seconadary" aria-label="Close"
        (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>
</ng-template>
<ng-template #edittruck let-modal>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Truck Type</label>
          <select class="form-control">
            <option value="">Food Truck</option>
            <option value="">Gaming Truck</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-con">
          <label for="">Truck ID</label>
          <input type="text" class="form-control" value="" placeholder="#54554">
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Truck Color</label>
          <input type="text" class="form-control" value="" placeholder="Brown">
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Vehicle No</label>
          <input type="text" class="form-control" value="" placeholder="Eg:HR-06-V-4343">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Upload Document</label>
            <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
        </div>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary mr-2" aria-label="Close"
        (click)="modal.dismiss('Cross click')">Update</button>
      <button type="button" class="btn btn-seconadary" aria-label="Close"
        (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #truckdocuments let-modal>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 p-1"><img src="assets/images/gallery/driving-licence.jpg" alt="" class="img-fluid"></div>
      <div class="col-md-12 p-1"><img src="assets/images/gallery/driving-licence.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>
</ng-template>
