<div class="row">
  <!-- Column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-2 text-right">
            <button class="btn btn-seconadary" (click)="addBikeModal(addBike)"><i class="sl-icon-plus"></i> Add Destination</button>
          </div>
        </div>
        <div class="">
          <table class="table v-middle product-overview" id="zero_config">
            <thead>
              <tr>
                <th>Destination Name</th>
                <th>Tour Image</th>
                <th>Address</th>
                <th>Destination Type</th>              
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Adventour
                </td>
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" title="ID Proof"
                    (click)="openWindowCustomClass(content3)">
                    <img src="assets/images/tours/1.jpg" alt="tour" width="60" class="rounded">
                  </a></td>
                <td>Location 1 </td>

                <td>
                  Historical
                </td>
                <!-- <td>Delhi</td>
                <td>Chandigarh</td> -->
                <!-- <td>20</td> -->
                <td>
                  <div ngbDropdown placement="bottom" class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Action
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" (click)="userprofileModal(userprofile)"><i class="ti-eye"></i> View
                      </button>
                      <button class="dropdown-item" (click)="userDetailModal(userDetail)"><i _ngcontent-axh-c146=""
                          class="ti-marker-alt"></i> Edit</button>
                      
                      <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                        Delete</button>
                    </div>
                  </div>

                </td>
              </tr>
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>

<ng-template #content3 let-modal>
  <div class="modal-header p-2">
    <!-- <h4 class="modal-title">Driving Licence</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <figure class="text-center"><img src="assets/images/tours/1.jpg" class="img-fluid"></figure>
      </div>
    </div>
  </div>
</ng-template>


<!-- view modal -->
<ng-template #userprofile let-modal>
  <div class="modal-body">
    <button type="button" class=" close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="mdi mdi-close"></i>
    </button>

    <div class="row">
      <!-- Column -->
      <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img src="assets/images/tours/1.jpg" class="" width="120" />
            </div>
          </div>


        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-9 col-xlg-9 col-md-7">
        <div class="card custom-tabs mb-0">
          <div class="card-body">
            <div class="row pt-2">
            <div class="col-md-12">
              
              <ngb-tabset>
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Tour Detail</b></ng-template>
                  <ng-template ngbTabContent>
                    <div class="row pt-2">
                      <div class="col-md-12">
                        <ul class="list-block">
                          <li class="list-block-listing">Tour Name: <span class="font-weight-600">#54565676</span></li>
                          <li class="list-block-listing">Starting Point: <span class="font-weight-600">Delhi</span></li>
                          <li class="list-block-listing">End Point: <span class="font-weight-600">Chandigarh</span></li>
                          <li class="list-block-listing">Number of Destinations : <span>6</span></li>
                        </ul>
                      </div>
                    </div>
                    
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Tour History</b></ng-template>
                  <ng-template ngbTabContent>
                    <ul class="user_history pl-0">
                      <li class="user_history_list"><span class="user_history_list_icon"><i
                        class="mdi mdi-map-marker"></i></span> <span>Location 1</span> </li>
                        <li class="user_history_list"><span class="user_history_list_icon"><i
                          class="mdi mdi-map-marker"></i></span> <span>Location 2</span> </li>
                          <li class="user_history_list skip"><span class="user_history_list_icon"><i
                            class="mdi mdi-map-marker"></i></span> <span class="text-decoration-line">Location 3</span>
                          </li>
                          <li class="user_history_list"><span class="user_history_list_icon"><i
                            class="mdi mdi-map-marker"></i></span> <span>Location 4</span> </li>
                            <li class="user_history_list"><span class="user_history_list_icon"><i
                              class="mdi mdi-map-marker"></i></span> <span>Location 5</span> </li>
                            </ul>
                          </ng-template>
                        </ngb-tab>
                      </ngb-tabset>
                    </div>
                  </div>
            </div>
            <div class="map-box">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    
  </div>
</ng-template>

<!-- delete modal -->
<ng-template #userDelete let-modal>
  <div class="modal-body">
    <p>Are You Sure want to delete this user?</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary mr-2" aria-label="Close"
        (click)="modal.dismiss('Cross click')">Yes</button>
      <button type="button" class="btn btn-seconadary" aria-label="Close"
        (click)="modal.dismiss('Cross click')">No</button>
    </div>
  </div>
</ng-template>

<!-- edit user detail -->
<ng-template #userDetail let-modal>
  <div class="modal-body">

    <div class="card mb-0">
      <form action="#">
        <div class="form-body">
          <div class="card-body">
            
            <div class="row">
              <div class="col-md-12 mb-2">
                <h3 class="mb-0 p-2 bg-light">Edit Destination</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-xlg-3 col-md-5">
                <div class="row">              
                  <div class="card">
                    <div class="card-body">
                      <div class="text-center">
                        <img src="assets/images/tours/1.jpg" class="" width="120" />
                        <div class="upload-btn-wrapper">
                          <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                          <input type="file" name="myfile" />
                        </div>
                      </div>
                    </div>
                  </div>              
              </div>
              </div>
            
            <div class="col-md-9">
            <div class="row ">              
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Destination Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="John doe" value="Adventour">
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-success">
                  <label class="control-label">Destination Type</label>

                  <input type="text" id="firstName" class="form-control" placeholder="John doe"
                    value="Delhi to Chandigarh">
                </div>

              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row ">             
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Address</label>
                  <input type="text" id="location" class="form-control form-control-danger" placeholder="Location 1"
                    value="Delhi">

                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">End Point</label>
                  <input type="text" id="location" class="form-control form-control-danger" placeholder="Location 1"
                    value="Chandigarh">

                </div>
              </div>
              <!--/span-->
            </div>

            </div>
            </div>
          </div>

          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-check"></i> Update</button>
              <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>

<!-- Add bike detail -->
<ng-template #addBike let-modal>
  <div class="modal-body">
    <div class="card mb-0">
      <form action="#">
        <div class="form-body">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 mb-2">
                <h3 class="mb-0 p-2 bg-light">Add Destination</h3>

              </div>
            </div>
            <div class="row ">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="control-label">Destination Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="Tour">

                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-success">
                  <label class="control-label">Destination Type</label>
                  <select class="form-control custom-select">
                    <option value="">Historical</option>
                    <option value="">Nature</option>
                    <option value="">Horror</option>                    
                    <option value="">Others</option>                    
                  </select>                 
                </div>

              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row ">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Upload Destination Image</label>

                  <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                      class="custom-file-label" for="inputGroupFile01">Choose file</label></div>

                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Address</label>
                  <input type="text" id="location" class="form-control form-control-danger" placeholder="Number of Destinations">

                </div>
              </div>
              <!--/span-->
            </div>

          </div>

          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-check"></i> Add</button>
              <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>
