<div class="card">
    <div class="card-body">
    
 
<div class="row">
    <div class="col-md-12 text-right">
        <a routerLink="/pages/geofence" class="btn btn-primary mb-3">Add Geofence</a>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
               <ul class="mb-0">
                   <li class="d-flex">Geo Fencing <span class="ml-auto"><a routerLink="/pages/geofencedit"><i class="fas fa-pencil-alt"></i></a><a href="javascript:void()" class="ml-2"><i class="fas fa-trash"></i></a></span></li>
               </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
               <ul class="mb-0">
                   <li class="d-flex">Geo Fencing <span class="ml-auto"><a routerLink="/pages/geofencedit"><i class="fas fa-pencil-alt"></i></a><a href="javascript:void()" class="ml-2"><i class="fas fa-trash"></i></a></span></li>
               </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
               <ul class="mb-0">
                   <li class="d-flex">Geo Fencing <span class="ml-auto"><a routerLink="/pages/geofencedit"><i class="fas fa-pencil-alt"></i></a><a href="javascript:void()" class="ml-2"><i class="fas fa-trash"></i></a></span></li>
               </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>