<div class="row">
    <!-- <div class="col-md-6">
    <div class="card ms-panel-fh">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <div class="align-self-center align-left">
            <h4 class="mb-0">Top Products Sold</h4>
          </div>
          <a routerLink="/pages/productsale" class="btn btn-primary">View All</a>
        </div>
      </div>
      <div class="card-body p-0">
        <ul class="ms-list ms-feed ms-twitter-feed ms-recent-support-tickets pl-0">
          <li class="ms-list-item">
            <div class="media-body pl-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div> <img src="assets/images/food/1.jpg" class="rounded-circle" width="60px" height="60"
                      alt="This is another feature">
                  </div>
                  <div class="ml-2">
                    <h5 class="ms-feed-user mb-0">Lorem ipsum dolor</h5>
                  </div>
                </div>
                <h3 class="mb-0">$76</h3>
              </div>
            </div>
          </li>
          <li class="ms-list-item">
            <div class="media-body pl-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div> <img src="assets/images/food/2.jpg" class="rounded-circle" width="60px" height="60"
                      alt="This is another feature">
                  </div>
                  <div class="ml-2">
                    <h5 class="ms-feed-user mb-0">Lorem ipsum dolor</h5>
                  </div>
                </div>
                <h3 class="mb-0">$76</h3>
              </div>
            </div>
          </li>
          <li class="ms-list-item">
            <div class="media-body pl-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div> <img src="assets/images/food/1.jpg" class="rounded-circle" width="60px" height="60px"
                      alt="This is another feature">
                  </div>
                  <div class="ml-2">
                    <h5 class="ms-feed-user mb-0">Lorem ipsum dolor</h5>
                  </div>
                </div>
                <h3 class="mb-0">$76</h3>
              </div>
            </div>
          </li>
          <li class="ms-list-item">
            <div class="media-body pl-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div> <img src="assets/images/food/2.jpg" class="rounded-circle" width="60px"
                      alt="This is another feature">
                  </div>
                  <div class="ml-2">
                    <h5 class="ms-feed-user mb-0">Lorem ipsum dolor</h5>
                  </div>
                </div>
                <h3 class="mb-0">$76</h3>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>  -->
    <!-- <div class="col-md-6">
    <div class="card ms-panel-fh">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <div class="align-self-center align-left">
            <h4 class="mb-0">Top Categories</h4>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <ul class="ms-list ms-feed ms-twitter-feed ms-recent-support-tickets pl-0">
          <li class="ms-list-item">
            <div class="media-body pl-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div> <img src="assets/images/food/1.jpg" class="rounded-circle" width="60px" height="60"
                      alt="This is another feature">
                  </div>
                  <div class="ml-2">
                    <h5 class="ms-feed-user mb-0">Lorem ipsum dolor</h5>
                  </div>
                </div>
                <h3 class="mb-0">$76</h3>
              </div>
            </div>
          </li>
           <li class="ms-list-item">
            <div class="media-body pl-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div> <img src="assets/images/food/2.jpg" class="rounded-circle" width="60px" height="60"
                      alt="This is another feature">
                  </div>
                  <div class="ml-2">
                    <h5 class="ms-feed-user mb-0">Lorem ipsum dolor</h5>
                  </div>
                </div>
                <h3 class="mb-0">$76</h3>
              </div>
            </div>
          </li>
           <li class="ms-list-item">
            <div class="media-body pl-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div> <img src="assets/images/food/1.jpg" class="rounded-circle" width="60px" height="60px"
                      alt="This is another feature">
                  </div>
                  <div class="ml-2">
                    <h5 class="ms-feed-user mb-0">Lorem ipsum dolor</h5>
                 </div>
                </div>
                <h3 class="mb-0">$76</h3>
              </div>
            </div>
          </li>
           <li class="ms-list-item">
            <div class="media-body pl-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div> <img src="assets/images/food/2.jpg" class="rounded-circle" width="60px"
                      alt="This is another feature">
                  </div>
                  <div class="ml-2">
                    <h5 class="ms-feed-user mb-0">Lorem ipsum dolor</h5>

                  </div>
                </div>
                <h3 class="mb-0">$76</h3>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
</div>

<!-- Frachise List  -->
<!-- <div class="card">
  <div class="card-body">
    <div>
      <h4 class="card-title">Drivers List</h4>
    </div>
    <div class="d-md-flex align-items-center">
      <div class="col-md-4 pl-0">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <div class="col-md-8 text-right pr-0">
        <div ngbDropdown container="body" class="mr-0">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>All</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Bike</button>
            <button ngbDropdownItem>Scooter</button>
            <button ngbDropdownItem>E-bike</button>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="table-responsive">
    <table class="table ">
      <thead>
        <tr class="bg-light">
          <th class="border-top-0">Name</th>
          <th class="border-top-0">Contact</th>
          <th class="border-top-0">Driver ID</th>
          <th class="border-top-0">Email</th>
          <th class="border-top-0 text-nowrap">Type of Vehicle</th>
          <th class="border-top-0 text-nowrap">Request</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drive of driver">
          <td class="text-nowrap">{{drive.name}}</td>
          <td class="text-nowrap">{{drive.contact}}</td>
          <td class="text-nowrap">{{drive.id}}</td>
          <td class="text-nowrap">{{drive.email}}</td>
          <td class="text-nowrap">{{drive.vehicle}}</td>
          <td>
            <a routerLink="/pages/drivers" class="btn btn-primary">View</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<!-- <div class="card">
  <div class="card-body">
     <div>
      <h4 class="card-title">RECENTLY PLACED ORDERS</h4>
    </div>
    <div class="d-md-flex align-items-center pb-4">

      <div class="col-md-4 pl-0">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <div class="col-md-8 text-right pr-0">
        <div ngbDropdown container="body">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Action</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Completed</button>
            <button ngbDropdownItem>Canceled</button>
            <button ngbDropdownItem>Pending</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive ">
      <table class="table">
        <tr>
         <th>Product Name </th>
         <th>Product ID</th>
         <th>Customer Name </th>
         <th>Location</th>
          <th>Order Date</th>
          <th>Delviery Date</th>
          <th>Delviery Man</th>
          <th>Price</th>
          <th>Order Status</th>
        </tr>
        <tr *ngFor="let list  of recentorders">
         <td>{{list.productname}}</td>
         <td class="text-nowrap">{{list.id}}</td>
         <td class="text-nowrap">{{list.userName}}</td>
         <td class="text-nowrap">{{list.location}}</td>
         <td class="text-nowrap">{{list.orderdate}}</td>
         <td class="text-nowrap">{{list.deliverydate}}</td>
         <td class="text-nowrap">{{list.delivery_man}}</td>
         <td class="text-nowrap">{{list.price}}</td>
         <td><button class="btn btn-sm" [ngClass]="list.status == 'Canceled' ? 'btn-outline-danger': (list.status == 'Pending') ? 'btn-outline-info' : 'btn-outline-success' ">{{list.status}}</button></td>
        </tr>
      </table>
    </div>
  </div>

</div> -->
<!-- <div class="card">
  <div class="card-body">
    <div class="d-md-flex align-items-center mb-2">
      <div>
        <h4 class="card-title mb-0">Inventory</h4>
      </div>
     <div class="ml-auto">
    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" container="body">
        <button class="btn btn-outline-primary btn-sm mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">All</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem>Cancelled Orders</button>
          <button ngbDropdownItem>Hold Orders</button>
          <button ngbDropdownItem>Low in Stock</button>
          <button ngbDropdownItem>Out  of Stock</button>
        </div>
      </div>
      <div class="d-inline-block" ngbDropdown container="body">
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>All</button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Partner 1</button>
          <button ngbDropdownItem>Partner 2</button>
          <button ngbDropdownItem>Partner 3</button>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table v-middle">
      <thead>
        <tr class="bg-light">
          <th class="border-top-0">Name</th>
          <th class="border-top-0 text-nowrap">Partner ID</th>
          <th class="border-top-0 text-nowrap">Total Orders</th>
          <th class="border-top-0 text-nowrap">Hold Orders</th>
          <th class="border-top-0 text-nowrap">Cancelled Orders</th>
          <th class="border-top-0 text-nowrap">Low in Stock</th>
          <th class="border-top-0 text-nowrap">Out of Stock</th>
          <th class="border-top-0 text-nowrap">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let list of table" >
        <td>{{list.hotelName}} </td>
        <td>{{list.id}}</td>
        <td class="text-nowrap">{{list.totalOrder}}</td>
        <td class="text-nowrap">{{list.holdOrder}}</td>
        <td class="text-nowrap">{{list.cancelOrder}}</td>
        <td class="text-nowrap">{{list.lowStock}}</td>
        <td class="text-nowrap">{{list.outStock}}</td>
        <td class="text-nowrap"><a routerLink="/pages/Inventory" class="btn btn-primary" >{{list.status}}</a></td>
      </tr>
    </tbody>
    </table>
  </div>
</div> -->