@import '../../../assets/scss/variable.scss';
.aside-box{
    width: 275px;
    height: 100vh;
    position: absolute;
    background-color: $white;
    z-index:999;
  right: 0;
    padding: 10px;
    transform: translateX( 285px);
    transition: 0.3s ease-in-out;
    &.sidebar_slide{
        transform: translateX( 0px);
    }
     .message-center{
            height: 100vh;
        }
}
