<!-- <div class="row mb-2">
    <div class="col-md-12 text-right">
        <div ngbDropdown container="body">
            <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem>Partner 1</button>
              <button ngbDropdownItem>Partner 2</button>
              <button ngbDropdownItem>Partner 3</button>              
              <button ngbDropdownItem>Partner 4</button>
            </div>
          </div>
    </div>
</div> -->
<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<app-info-card></app-info-card>
<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<app-sales></app-sales>
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Top Selliing Products -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <app-usermap></app-usermap> 
    </div>
</div>
<!-- ============================================================== -->
<!-- Top Selliing Products -->
<div class="row">
    <div class="col-sm-12">       
        <app-cheflist></app-cheflist>
    </div>
</div>
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- <app-sales-income></app-sales-income> -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
<!-- <div class="row">
     column -->
    <!-- <div class="col-lg-6">
        <app-comment></app-comment>
    </div> -->
    <!-- column -->
    <!-- <div class="col-lg-6">
        <app-chat></app-chat>
    </div> 
</div> -->
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->