
    <div class="card">

        <div class="card-body">
          <div class="row">

            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4">
                  <label>Order ID</label>
                </div>
                <div class="col-md-8">
                  <span>20</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Client</label>
                </div>
                <div class="col-md-8">
                  <span>Andy</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Phone No.</label>
                </div>
                <div class="col-md-8">
                  <span>+91-45444544</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Delivery Address</label>
                </div>
                <div class="col-md-8">
                  <span>#455 Sector-15 Noida</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Date Of Order</label>
                </div>
                <div class="col-md-8">
                  <span>27-02-2021/12:20:45</span>
                </div>
              </div>
            </div>
            <!-- end-col-md-4 -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4">
                  <label>Status</label>
                </div>
                <div class="col-md-8">
                  <span >On the Way</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Active</label>
                </div>
                <div class="col-md-8">
                  <span class="label label-success">Yes</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Method</label>
                </div>
                <div class="col-md-8">
                  <span>Paypal</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Payment Status</label>
                </div>
                <div class="col-md-8">
                  <span>Waitning for Client</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Update At</label>
                </div>
                <div class="col-md-8">
                  <span>27-02-2021/12:20:45</span>
                </div>
              </div>
            </div>
              <!-- end-col-md-4 -->
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label>Restaurant</label>
                  </div>
                  <div class="col-md-8">
                    <span >KFC</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Address</label>
                  </div>
                  <div class="col-md-8">
                    <span >Lorem ipsum dolor</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Phone No</label>
                  </div>
                  <div class="col-md-8">
                    <span>+91-4343434343</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Driver</label>
                  </div>
                  <div class="col-md-8">
                    <span>John</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Hint</label>
                  </div>
                  <div class="col-md-8">
                    <span></span>
                  </div>
                </div>
              </div>
                <!-- end-col-md-4 -->  
          </div>
          <div class="table-reponsive">
            <table class="table">
              <tr>
                <th>Food </th>
                <th>Extra Item</th>
                <th>Price</th>                
                <th>Quantity</th>              
              </tr>
              <tr>
                <td>Soya Chap</td>
                <td>Mozzarella</td>
                <td>$10</td>
                
                <td class="text-nowrap">1</td> 
             
              </tr> 
              <tr>
                <td class="text-nowrap" colspan="3" ></td> 
                <td >
                  <div class="table-repsonsive">
                    <table class="table">
                      <tr>
                        <td><label>Subtotal</label></td>
                        <td><label>$10</label></td>                       
                      </tr>
                      <tr>
                        <td><label>Delivery Fee</label></td>
                        <td><label>$0.00</label></td>
                        </tr>
                        <tr>
                        <td><label>Tax(10%)</label></td>
                        <td><label>$2.70</label></td>
                      </tr>
                      <tr>
                        <td><label>Total</label></td>
                        <td><label>$29.00</label></td>
                      </tr>
                    </table>
                  </div>
                </td>
                
               
              </tr>            
              
            </table>
          </div>
        </div>
      </div>
      <!-- Column -->
    