<div class="row">
    <!-- Column -->
     <div class="col-lg-12 col-xlg-3 col-md-5">
      <a routerLink="/pages/drivers" class="btn btn-primary mb-3">Back</a>
      <div class="card">
        <div class="row">
          <div class="col-md-3">
            <div class="card-body p-3 bg-light">
              <div class=" text-center">
                <img src="assets/images/users/2.jpg" class="rounded-circle" width="150" />
              </div>
          
            </div>
          </div>
          <div class="col-md-9 pr-3">
             
                  <div class="row pt-2 ">
                    <div class="col-md-3">
                      <ul class="list-block pl-0 list-style-none">
                        <li class="list-block-listing pr-2 pb-2">Name: <span class="font-weight-600">Hanna Gover</span></li>
                        <li class="list-block-listing pr-2 pb-2">Contact: <span class="font-weight-600">+91-4564345452</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="list-block pl-0 list-style-none">                   
                        <li class="list-block-listing pr-2 pb-2">Driver ID: <span class="font-weight-600">elite2345</span></li>
                        <li class="list-block-listing pr-2 pb-2">Salary: <span class="font-weight-600">$2500</span></li>
                       
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="list-block pl-0 list-style-none">
                        <li class="list-block-listing pr-2 pb-2"> Commission: <span class="font-weight-600">10%</span></li>
                        <li class="list-block-listing pr-2 pb-2"> Timing: <span class="font-weight-600">11AM - 4:00PM</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="list-block pl-0 list-style-none">
                        <li class="list-block-listing pr-2 pb-2"> Total Orders: <span class="font-weight-600">30</span></li>                    
                        <li class="list-block-listing pr-2 pb-2"> Total Sales: <span class="font-weight-600"><i class="fas fa-euro-sign"></i>400</span></li>                    
                        
                      </ul>
                    </div>
                    <div class="col-md-12 pt-2">
                      <h4 class="font-weight-600 pb-1 mb-0">About Hanna Gover</h4>
                        <p class="pb-0">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.<a href="javascript:void()">Read More</a></p>
                    </div>
                  </div>
            
  
          </div>
        </div>
      </div>
    </div> 
    <!-- Column -->
    <div class="col-md-12">
        <h2>Set Weekly Timing</h2>
    <div class="row">
        <div class="col-md-2 mb-2"><div class="bg-light p-2"><h3 class="mb-0 p-3 pb-0 h4">Sunday </h3><ngb-timepicker [(ngModel)]="time" ></ngb-timepicker> </div></div>
        <div class="col-md-2 mb-2"><div class="bg-light p-2"><h3 class="mb-0 p-3 pb-0 h4">Monday </h3><ngb-timepicker [(ngModel)]="time1" ></ngb-timepicker> </div></div>
        <div class="col-md-2 mb-2"><div class="bg-light p-2"><h3 class="mb-0 p-3 pb-0 h4">Tuesday</h3><ngb-timepicker [(ngModel)]="time2" ></ngb-timepicker></div></div>
        <div class="col-md-2 mb-2"><div class="bg-light p-2"><h3 class="mb-0 p-3 pb-0 h4">Wednesday </h3><ngb-timepicker [(ngModel)]="time3" ></ngb-timepicker> </div></div>
        <div class="col-md-2 mb-2"><div class="bg-light p-2"><h3 class="mb-0 p-3 pb-0 h4">Thursday</h3><ngb-timepicker [(ngModel)]="time4" ></ngb-timepicker></div></div>
        <div class="col-md-2 mb-2"><div class="bg-light p-2"><h3 class="mb-0 p-3 pb-0 h4">Friday </h3><ngb-timepicker [(ngModel)]="time5" ></ngb-timepicker> </div></div>
        <div class="col-md-2 mb-2"><div class="bg-light p-2"><h3 class="mb-0 p-3 pb-0 h4">Saturday </h3><ngb-timepicker [(ngModel)]="time6"></ngb-timepicker> </div></div>
        <div class="col-md-12">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
        
    </div>
    <!-- Column -->  

    <div class="col-lg-12">
      <h2 class="pt-2">Order History</h2>
      <div class="card ">
          
        <div class="card-body">
          <div class="row pb-2">
            <div class="col-md-4">
              <div>
                <input type="text" class="form-control" id="prenametext" placeholder="Search">
              </div>
            </div>
            <div class="col-md-8 text-right">
              <div ngbDropdown class="d-inline-block ">
                <button class="btn btn-info text-white" id="dropdownBasic1" ngbDropdownToggle>
                  All
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">Completed Orders</button>
                  <button class="dropdown-item">Cancelled Orders</button>
                  <button class="dropdown-item">Pending Orders</button>
                </div>
              </div>
            </div>
          </div>
  
          <div class="table-responsive">
            <table mat-table class="w-100" [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.id}} <a routerLink="/pages/orderdetail"><i class="sl-icon-info"></i></a> </td>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="hotelName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Restaurant </th>
                <td mat-cell *matCellDef="let row"> {{row.hotelName}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="productname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Product name </th>
                <td mat-cell *matCellDef="let row"> {{row.productname}} </td>
              </ng-container>
          
              <!-- Color Column -->
              <ng-container matColumnDef="orderdate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap" [style.color]="row.color"> {{row.orderdate}} </td>
              </ng-container>
          
              <ng-container matColumnDef="deliverydate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Date </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap" [style.color]="row.color"> {{row.deliverydate}} </td>
              </ng-container>
              
              <ng-container matColumnDef="delivery_man">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Customer Name </th>
                <td mat-cell *matCellDef="let row" class="text-nowrap" [style.color]="row.color"> {{row.delivery_man}} </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"><i class="fas fa-euro-sign"></i> {{row.price}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Order Status </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> <button class="btn" [ngClass]="row.status == 'Cancelled' ? 'btn-outline-danger': (row.status == 'Pending') ? 'btn-outline-info' : 'btn-outline-success' ">{{row.status}}</button> </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
  </div>
    </div>
  </div>
  