<div class="row">
  <!-- Column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-2 text-right">
            <button class="btn btn-seconadary" (click)="addHotelModal(addHotel)"><i class="sl-icon-plus"></i> Add Hotel</button>
          </div>
        </div>
        <div class="">
          <table class="table v-middle product-overview" id="zero_config">
            <thead>
              <tr>
                <th>Hotel Name</th> 
                <th>Hotel Image</th>
                <th>Hotel Email</th>
                <th>Hotel ID</th>
                <th>Hotel Location</th>
                <th>Assigned Area </th>
                <th>Total Assigned Bikes </th>
                <th>Total Staff </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  JW Marriott
                </td>
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" title="ID Proof"
                    (click)="openWindowCustomClass(content3)">
                    <img src="assets/images/hotels/1.jpg" alt="tour" width="60" class="rounded">
                  </a></td>
                  <td>
                    Example@gmail.com
                  </td>
                <td>jw54454 </td>

                <td>
                  Chandigarh
                </td>
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" title="ID Proof" (click)="mapModel(map)">
                    <img src="assets/images/hotels/map.jpg" alt="tour" width="60" class="">
                  </a></td>
                <td>20</td>
                <td>60</td>
                <td>
                  <div ngbDropdown placement="bottom" class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Action
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" (click)="userprofileModal(userprofile)"><i class="ti-eye"></i> View
                      </button>
                      <button class="dropdown-item" (click)="userDetailModal(userDetail)"><i _ngcontent-axh-c146=""
                          class="ti-marker-alt"></i> Edit</button>
                      <!-- <button class="dropdown-item" (click)="addHotelModal(addHotel)"><i class="sl-icon-plus"></i>
                        Add</button> -->
                      <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                        Delete</button>
                    </div>
                  </div>

                </td>
              </tr>
              <tr>
                <td>
                  JW Marriott
                </td>
                
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" title="ID Proof"
                    (click)="openWindowCustomClass(content3)">
                    <img src="assets/images/hotels/1.jpg" alt="tour" width="60" class="rounded">
                  </a></td>
                  <td>
                    Example@gmail.com
                  </td>
                <td>jw54454 </td>

                <td>
                  Chandigarh
                </td>
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" title="ID Proof" (click)="mapModel(map)">
                    <img src="assets/images/hotels/map.jpg" alt="tour" width="60" class="">
                  </a></td>
                <td>20</td>
                <td>60</td>
                <td>
                  <div ngbDropdown placement="bottom" class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Action
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" (click)="userprofileModal(userprofile)"><i class="ti-eye"></i> View
                      </button>
                      <button class="dropdown-item" (click)="userDetailModal(userDetail)"><i _ngcontent-axh-c146=""
                          class="ti-marker-alt"></i> Edit</button>
                      <!-- <button class="dropdown-item" (click)="addHotelModal(addHotel)"><i class="sl-icon-plus"></i>
                        Add</button> -->
                      <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                        Delete</button>
                    </div>
                  </div>

                </td>
              </tr>
              <tr>
                <td>
                  JW Marriott
                </td>
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" title="ID Proof"
                    (click)="openWindowCustomClass(content3)">
                    <img src="assets/images/hotels/1.jpg" alt="tour" width="60" class="rounded">
                  </a></td>
                  <td>
                    Example@gmail.com
                  </td>
                  <td>jw54454 </td>
                <td>
                  Chandigarh
                </td>
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" title="ID Proof" (click)="mapModel(map)">
                    <img src="assets/images/hotels/map.jpg" alt="tour" width="60" class="">
                  </a></td>
                <td>20</td>
                <td>60</td>
                <td>
                  <div ngbDropdown placement="bottom" class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Action
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" (click)="userprofileModal(userprofile)"><i class="ti-eye"></i> View
                      </button>
                      <button class="dropdown-item" (click)="userDetailModal(userDetail)"><i _ngcontent-axh-c146=""
                          class="ti-marker-alt"></i> Edit</button>
                      <!-- <button class="dropdown-item" (click)="addHotelModal(addHotel)"><i class="sl-icon-plus"></i>
                        Add</button> -->
                      <button class="dropdown-item" (click)="userDeleteModal(userDelete)"><i class="ti-trash"></i>
                        Delete</button>
                    </div>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>

<ng-template #content3 let-modal>
  <div class="modal-header p-2">
    <!-- <h4 class="modal-title">Driving Licence</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <figure class="text-center"><img src="assets/images/hotels/1.jpg" class="img-fluid"></figure>
      </div>
    </div>
  </div>
</ng-template>
<!-- map -->
<ng-template #map let-modal>
  <div class="modal-header p-2">
    <!-- <h4 class="modal-title">Driving Licence</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <figure class="text-center"><img src="assets/images/hotels/map.jpg" class="img-fluid"></figure>
      </div>
    </div>
  </div>
</ng-template>

<!-- view modal -->
<ng-template #userprofile let-modal>
  <div class="modal-body">
    <button type="button" class=" close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="mdi mdi-close"></i>
    </button>

    <div class="row">
      <!-- Column -->
      <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img src="assets/images/hotels/1.jpg" class="" width="120" />
            </div>
          </div>


        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-9 col-xlg-9 col-md-7">
        <div class="card custom-tabs mb-0">
          <div class="card-body">
            <div class="row pt-2">
              <div class="col-md-12">
                <ul class="list-block">
                  <li class="list-block-listing">Hotel Name: <span class="font-weight-600">JW Marriott</span></li>
                  <li class="list-block-listing">Hotel Id: <span class="font-weight-600">jw54454</span></li>
                  <li class="list-block-listing">Hotel Location: <span class="font-weight-600">Chandigarh</span></li>
                  <li class="list-block-listing"> Total Assigned Bikes: <span class="font-weight-600">2</span></li>
                  <li class="list-block-listing"> Total Staff: <span class="font-weight-600">80</span></li>

                </ul>
              </div>
              <div class="col-md-12">
                <div class="map-box">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                    width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Column -->

  </div>
</ng-template>

<!-- delete modal -->
<ng-template #userDelete let-modal>
  <div class="modal-body">
    <p>Are You Sure want to delete this user?</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary mr-2" aria-label="Close"
        (click)="modal.dismiss('Cross click')">Yes</button>
      <button type="button" class="btn btn-seconadary" aria-label="Close"
        (click)="modal.dismiss('Cross click')">No</button>
    </div>
  </div>
</ng-template>

<!-- edit user detail -->
<ng-template #userDetail let-modal>
  <div class="modal-body">

    <div class="card mb-0">
      <form action="#">
        <div class="form-body">
          <div class="card-body">

            <div class="row">
              <div class="col-md-12 mb-2">
                <h3 class="mb-0 p-2 bg-light">Edit Hotels</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-xlg-3 col-md-5">
                <div class="row">
                  <div class="card">
                    <div class="card-body">
                      <div class="text-center">
                        <img src="assets/images/hotels/1.jpg" class="" width="120" />
                        <div class="upload-btn-wrapper">
                          <button class="btn-upload"><i class="mdi mdi-pencil"></i></button>
                          <input type="file" name="myfile" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-9">
                <div class="row ">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Hotel Name</label>
                      <input type="text" id="firstName" class="form-control" placeholder="John doe" value="Adventour">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Hotel Email</label>
                      <input type="email" id="firstName" class="form-control" placeholder="Example@gmail.com" value="Adventour">
                    </div>
                  </div>
                  <!--/span-->
                  
                </div>
                <!--/row-->
                <div class="row ">
                  <div class="col-md-6">
                    <div class="form-group has-danger">
                      <label class="control-label">Total Assigned Bikes</label>
                      <input type="text" id="location" class="form-control form-control-danger"
                        placeholder="Total Assigned Bikes" value="Delhi">

                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group has-danger">
                      <label class="control-label">Total Staff</label>
                      <input type="text" id="staff" class="form-control form-control-danger" placeholder="Total Staff"
                        value="Chandigarh">

                    </div>
                  </div>
                  <!--/span-->
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group has-success">
                      <label class="control-label">Hotel Location</label>

                      <input type="text" id="firstName" class="form-control" placeholder="John doe"
                        value="Chandigarh">
                    </div>

                  </div>
                  <!--/span-->
                </div>
                <!-- end row -->
                <div class="row">
                  <div class="col-md-12">
                    <label>Assigned area</label>
                    <div class="map-box">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                        width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </form>
    </div>
    <div class="form-actions">
      <div class="card-body">
        <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
          <i class="fa fa-check"></i> Update</button>
        <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Add bike detail -->
<ng-template #addHotel let-modal>
  <div class="modal-body">
    <div class="card mb-0">
      <form action="#">
        <div class="form-body">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 mb-2">
                <h3 class="mb-0 p-2 bg-light">Add Hotel</h3>

              </div>
            </div>
            <div class="row ">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="control-label">Hotel Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="Tour">

                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Email</label>
                  <input type="email" id="firstName" class="form-control" placeholder="Example@gmail.com" value="Adventour">
                </div>
              </div>
              <!--/span-->
            
            </div>
            <!--/row-->
            <div class="row ">
              <div class="col-md-6">
                <div class="form-group ">
                  <label class="control-label">Add Hotel Location</label>
                  <input type="text" id="firstName" class="form-control" placeholder="Hotel Location">
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Hotel ID</label>
                  <input type="text" id="location" class="form-control form-control-danger"
                    placeholder="Number of Destinations">
                </div>
              </div>
              <!--/span-->
             
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Add Bikes</label>
                  <input type="text" id="location" class="form-control form-control-danger"
                    placeholder="Number of Destinations">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Upload Hotel Image</label>
                  <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label
                      class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                </div>
              </div>
              <!--/span-->
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Add Staff</label>
                  <input type="text" id="location" class="form-control form-control-danger"
                    placeholder="Number of Destinations">

                </div>
              </div>
              <div class="col-md-6">
                
                <div class="row">
                  <div class="col-md-12">
                    <label>Add area</label>
                    <div class="map-box">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                        width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-check"></i> Add</button>
              <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>
