/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-edt {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: #fff;
}

.btn-del {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #fff;
}
.pac-container {
    background-color: #fff;
    position: absolute!important;
    z-index: 9999;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial,sans-serif;
    box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
/* upload */
.imgs {
    margin-right: 10px;
    position: relative;
}
.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add {
    margin-left: 5px;
}
.cros {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}
/* upload end */