<div class="row">
    <div class="col-md-3">
        <!-- Card -->
        <div class="card">
            <div class="card-body card-box p-2">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="btn btn-circle btn-lg bg-primary">
                        <i class="sl-icon-people text-white"></i>
                    </span>
                    </div>
                    <div>
                        Total Users
                    </div>
                    <div class="ml-auto">
                        <h2 class="m-b-0 font-light">223</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card -->
    </div>
    <!-- col-md-4 -->
    <div class="col-md-3">
        <!-- Card -->
        <div class="card">
            <div class="card-body card-box p-2">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="btn btn-circle btn-lg btn-primary">
                        <i class="sl-icon-people text-white"></i>
                    </span>
                    </div>
                    <div>
                        Total Service Providers
                    </div>
                    <div class="ml-auto">
                        <h2 class="m-b-0 font-light">113</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- col-md-4 -->
    <div class="col-md-3">
        <!-- Card -->
        <div class="card">
            <div class="card-body card-box p-2">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="btn btn-circle btn-lg btn-primary">
                        <i class=" sl-icon-user-follow text-white"></i>
                    </span>
                    </div>
                    <div>
                        New Users
                    </div>
                    <div class="ml-auto">
                        <h2 class="m-b-0 font-light">13</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- col-md-4 -->

    <div class="col-md-3">
        <!-- Card -->
        <div class="card">
            <div class="card-body card-box p-2">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="btn btn-circle btn-lg btn-primary">
                        <i class="sl-icon-book-open text-white"></i>
                    </span>
                    </div>
                    <div>
                        New Bookings
                    </div>
                    <div class="ml-auto">
                        <h2 class="m-b-0 font-light">11</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->
    </div>
